@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: 'Day one', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(249,249,255);
}